.app-container {
  display: flex;
  flex-flow: row;
}

.video-wrap {
  display: flex;
  flex-flow: column;
  width: 80vw;
}

.scroll-container {
  display: flex;
  flex-flow: column;
}

.scroll {
  overflow: auto;
  width: 20vw;
  height: 80vh;
  border: solid;
}
